{% extends 'base.html' %}

{% block title %} Add Post {% endblock %}

{% block main %}
<h1>Add Post for {{user.first_name}} {{user.last_name}}</h1>
<form action="/users/{{user.id}}/posts/new" method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Enter Post Title" name="post-title">
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" rows="3" name="post-content"></textarea>
      </div>
      <ul class="ul_no_bullets">
        {% for tag in tags %}
        <li><input type="checkbox" name="selected-tags" value="{{tag.id}}">{{tag.name}}</li>
        {% endfor %}
      </ul>

      <div class="form-group row">
        <div class="ml-auto mr-3">
          <a href="/users/{{ user.id }}" class="btn btn-info">Cancel</a>
          <button type="submit" class="btn btn-success">Add</button>
        </div>
      </div>
{% endblock %}